.socials {
    padding: 50px 0;
    display: flex;
    justify-content: flex-end;
}

.social-buttons {
    width: 240px;
    a {
        color: #fff;
    }
}

.social-media {
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    right: -190px;
    transition: right 1s ease-in-out;

    &:hover {
        right: 0;
    }

    i {
        margin-right: 15px;
        width: 20px;
        display: flex;
        justify-content: center;
    }
}

.social-media.blog {
    background-color: #e17b77;
}

.social-media.facebook {
    background-color: #3b5998;
}

.social-media.twitter {
    background-color: #00aced;
}

.social-media.github {
    background-color: #333;
}

.social-media.linkedin {
    background-color: #007bb6;
}

.fa-laptop-code::before {
    content: "\f5fc";
}
.fa-twitter::before {
    content: "\f099";
}
.fa-linkedin-in::before {
    content: "\f0e1";
}
.fa-facebook-f::before {
    content: "\f39e";
}
.fa-github::before {
    content: "\f09b";
}